/* :root{--text-color:#423232;--bg-color:#fffbf5;--bg-darker-color:#f4ede2;--bg-lighter-color:#fffefe;--accent-text-color:#fff;--accent-bg-color:#423232;--green:#b5e2dc;--yellow:#f4da92;--red:#f7c0b5;--normal-weight:700;--bold-weight:900;--guess-border:3px solid transparent;--current-guess-border:3px solid var(--text-color);--modal-border:3px solid var(--text-color);--shadow-color:rgba(0,0,0,.075)}[data-theme=dark]{--text-color:#fff;--bg-color:#15202b;--bg-darker-color:#1e2732;--bg-lighter-color:#273340;--accent-text-color:#fff;--accent-bg-color:#1d9bf0;--green:#00ba7c;--yellow:#ef7d31;--red:#f91880;--normal-weight:600;--bold-weight:800;--guess-border:3px solid transparent;--current-guess-border:3px solid var(--text-color);--modal-border:1px solid var(--text-color);--shadow-color:rgba(0,0,0,.075)}*{box-sizing:border-box;font-family:inherit;font-weight:inherit;margin:0;padding:0}a{font-weight:900;font-weight:var(--bold-weight);text-decoration:none}a,body{color:#423232;color:var(--text-color)}body{background-color:#fffbf5;background-color:var(--bg-color);font-family:Nunito,sans-serif;font-size:18px;font-weight:700;font-weight:var(--normal-weight)}b{font-weight:900;font-weight:var(--bold-weight)}.btn{align-items:center;background-color:transparent;border:0;border-radius:16px;color:#423232;color:var(--text-color);cursor:pointer;display:flex;height:32px;justify-content:center;width:32px}.btn-active,.btn:hover{background-color:#f4ede2;background-color:var(--bg-darker-color)}.wrapper{margin:auto;max-width:480px;padding:15px}.top-bar{align-items:center;display:flex;justify-content:space-between}.title{flex-grow:1;margin-left:32px;text-align:center}.title h1{font-size:24px;text-transform:uppercase}.info-bar,.title h1{font-weight:900;font-weight:var(--bold-weight)}.info-bar{padding:10px 10px 0}.label{font-size:12px;font-weight:700;font-weight:var(--normal-weight);text-transform:uppercase}.word{background-color:#fffefe;background-color:var(--bg-lighter-color);border:1px solid #423232;border:1px solid var(--text-color);border-radius:5px;color:#423232;color:var(--text-color);font-family:inherit;font-size:1.25em;margin:10px 0;padding:10px 15px;width:100%}.message{display:flex;flex-direction:column;justify-content:center;margin-bottom:15px;margin-top:5px;min-height:50px}.message-text{padding:0 5px}.message p{margin-bottom:10px}.message p:last-of-type{margin-bottom:0}.guess-history{padding-bottom:20px}.row-wrapper{border:3px solid transparent;border:var(--guess-border);border-radius:8px;margin:0 -3px;overflow:hidden;position:relative}.current{border:3px solid #423232;border:var(--current-guess-border);font-weight:900;font-weight:var(--bold-weight)}.outer-bar{background-color:#f4ede2;background-color:var(--bg-darker-color);height:100%;position:absolute;width:100%}.inner-bar{background-color:#b5e2dc;border-radius:5px;height:100%;min-width:1%}.row{border-radius:5px;font-weight:inherit;height:38px;justify-content:space-between;padding:5px 10px;position:relative;width:100%}.modal-bg,.row{align-items:center;display:flex}.modal-bg{background-color:rgba(0,0,0,.1);height:100vh;justify-content:center;left:0;position:fixed;top:0;width:100vw;z-index:2000}.modal-wrapper{display:flex;flex-direction:column;max-height:calc(100vh - 40px);max-width:460px;position:relative;width:calc(100vw - 40px)}.modal{background-color:#fffefe;background-color:var(--bg-lighter-color);border:3px solid #423232;border:var(--modal-border);border-radius:10px;box-shadow:0 1px 1px rgba(0,0,0,.075),0 2px 2px rgba(0,0,0,.075),0 4px 4px rgba(0,0,0,.075),0 8px 8px rgba(0,0,0,.075),0 16px 16px rgba(0,0,0,.075);box-shadow:0 1px 1px var(--shadow-color),0 2px 2px var(--shadow-color),0 4px 4px var(--shadow-color),0 8px 8px var(--shadow-color),0 16px 16px var(--shadow-color);height:100%;overflow-y:auto;padding:20px;z-index:2001}.modal p{font-size:16px;margin:10px 0}.modal-close-button{--size:32px;align-items:center;background-color:#fffefe;background-color:var(--bg-lighter-color);border:3px solid #423232;border:var(--modal-border);border-radius:calc(var(--size)/2);cursor:pointer;display:flex;height:var(--size);justify-content:center;position:absolute;right:calc(var(--size)/3*-1);top:calc(var(--size)/3*-1);width:var(--size);z-index:2002}.modal-close-button svg{height:24px;width:24px}.modal-title{align-items:center;display:flex;padding-bottom:5px}.modal-title h2{font-size:20px;font-weight:900;font-weight:var(--bold-weight);line-height:100%;margin:0;padding-left:10px}.end-msg{background-color:#f4ede2;background-color:var(--bg-darker-color);border-radius:5px;margin:20px 0;padding:20px;text-align:center}.end-msg p{margin:10px 0}.continue-msg{font-size:16px;margin-top:20px;padding:0 10px}.how-to-play{background-color:#f4ede2;background-color:var(--bg-darker-color);border-radius:5px;margin-top:10px;padding:15px}.how-to-play p{font-size:16px;margin:10px 0}.share-btn{align-items:center;background-color:#423232;background-color:var(--text-color);border:none;border-radius:5px;color:#fffbf5;color:var(--bg-color);cursor:pointer;display:inline-flex;font-family:inherit;font-size:20px;line-height:1;margin:10px;padding:10px 20px}.share-btn svg{margin-right:10px}.button{align-items:center;background-color:#423232;background-color:var(--accent-bg-color);border:none;border-radius:5px;color:#fff;color:var(--accent-text-color);cursor:pointer;display:inline-flex;font-family:inherit;font-size:18px;justify-content:center;line-height:1;padding:15px 20px}.button svg{margin-right:10px}.button-full{width:100%}.button.subtle{background-color:transparent;color:#423232;color:var(--text-color)}.button.subtle:hover{background-color:#f4ede2;background-color:var(--bg-darker-color)}.game-selection-button{align-items:center;display:flex;justify-content:space-between;width:100%}.shared-msg{position:absolute;right:-70px;top:0}.dropdown-bg{height:100vh;left:0;position:fixed;top:0;width:100vw;z-index:1000}.dropdown{background-color:#fffefe;background-color:var(--bg-lighter-color);border-radius:10px;box-shadow:0 1px 1px rgba(0,0,0,.075),0 2px 2px rgba(0,0,0,.075),0 4px 4px rgba(0,0,0,.075),0 8px 8px rgba(0,0,0,.075),0 16px 16px rgba(0,0,0,.075);box-shadow:0 1px 1px var(--shadow-color),0 2px 2px var(--shadow-color),0 4px 4px var(--shadow-color),0 8px 8px var(--shadow-color),0 16px 16px var(--shadow-color);max-width:calc(100vw - 40px);padding:10px;position:absolute;right:0;z-index:1001}.menu-item{align-items:center;background-color:transparent;border:0;border-radius:5px;color:#423232;color:var(--text-color);cursor:pointer;display:flex;font-size:16px;padding:10px 15px;text-align:left;white-space:nowrap;width:100%}.menu-item:disabled{opacity:.5;pointer-events:none}.menu-item svg{margin-right:10px}.menu-item:hover{background-color:#f4ede2;background-color:var(--bg-darker-color)}.menu-annotation{flex-grow:1;font-size:12px;line-height:1;margin-left:10px;text-align:right}.loading-text span{-webkit-animation:waviy 2s infinite;animation:waviy 2s infinite;-webkit-animation-delay:calc(.05s*var(--i));animation-delay:calc(.05s*var(--i));display:inline-block;position:relative}@-webkit-keyframes waviy{0%,15%,to{-webkit-transform:translateY(0);transform:translateY(0)}8%{-webkit-transform:translateY(-.25em);transform:translateY(-.25em)}}@keyframes waviy{0%,15%,to{-webkit-transform:translateY(0);transform:translateY(0)}8%{-webkit-transform:translateY(-.25em);transform:translateY(-.25em)}}.fixed-bottom{bottom:0;left:0;position:fixed;width:100%;z-index:3000}.previous-games-ad{align-items:center;background-color:#f4ede2;background-color:var(--bg-darker-color);display:flex;justify-content:center}.previous-games-ad-size{height:50px;width:300px}@media (min-width:768px){.previous-games-ad-size{height:90px;width:728px}}.cookie-dialog{align-items:center;background-color:#fffefe;background-color:var(--bg-lighter-color);box-shadow:-5px 1px 1px rgba(0,0,0,.075),0 2px 2px rgba(0,0,0,.075),0 4px 4px rgba(0,0,0,.075),0 8px 8px rgba(0,0,0,.075),0 16px 16px rgba(0,0,0,.075);box-shadow:-5px 1px 1px var(--shadow-color),0 2px 2px var(--shadow-color),0 4px 4px var(--shadow-color),0 8px 8px var(--shadow-color),0 16px 16px var(--shadow-color);display:flex;font-size:14px;justify-content:center;padding:10px 20px}.cookie-dialog-text{padding-right:10px}.badge{display:inline-block;position:relative}.badge-dot{background:#ff4d4f;border-radius:100%;height:8px;min-width:8px;position:absolute;right:0;top:0;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%);-webkit-transform-origin:100% 0;transform-origin:100% 0;width:8px}.social-media-links{padding:5px 0;text-align:center}.social-media-links svg{height:50px;width:150px}.social-media-links a:not(:last-of-type){margin-right:24px}.bigger{font-size:20px;font-weight:900;font-weight:var(--bold-weight)}.countdown-text{font-size:16px;margin-top:10px}.countdown{font-size:30px}.chart-wrapper{display:flex;justify-content:center}.chart{text-align:left;white-space:pre} */
/*# sourceMappingURL=main.b6b9b6e5.css.map*/

/* :root{
    --text-color:#423232;
    --bg-color:#fffbf5;
    --bg-darker-color:#f4ede2;
    --bg-lighter-color:#fffefe;
    --accent-text-color:#fff;
    --accent-bg-color:#423232;
    --green:#b5e2dc;
    --yellow:#f4da92;
    --red:#f7c0b5;
    --normal-weight:700;
    --bold-weight:900;
    --guess-border:3px solid transparent;
    --current-guess-border:3px solid var(--text-color);
    --modal-border:3px solid var(--text-color);
    --shadow-color:rgba(0,0,0,.075)
}
[data-theme=dark]{
    --text-color:#fff;
    --bg-color:#15202b;
    --bg-darker-color:#1e2732;
    --bg-lighter-color:#273340;
    --accent-text-color:#fff;
    --accent-bg-color:#1d9bf0;
    --green:#00ba7c;
    --yellow:#ef7d31;
    --red:#f91880;
    --normal-weight:600;
    --bold-weight:800;
    --guess-border:3px solid transparent;
    --current-guess-border:3px solid var(--text-color);
    --modal-border:1px solid var(--text-color);
    --shadow-color:rgba(0,0,0,.075)
} */
:root{
    --text-color:#fff;
    --bg-color:#15202b;
    --bg-darker-color:#1e2732;
    --bg-lighter-color:#273340;
    --accent-text-color:#fff;
    --accent-bg-color:#1d9bf0;
    --green:#00ba7c;
    --yellow:#ef7d31;
    --red:#f91880;
    --normal-weight:600;
    --bold-weight:800;
    --guess-border:3px solid transparent;
    --current-guess-border:3px solid var(--text-color);
    --modal-border:1px solid var(--text-color);
    --shadow-color:rgba(0,0,0,.075)
}
*{
    box-sizing:border-box;
    font-family:inherit;
    font-weight:inherit;
    margin:0;
    padding:0
}
a{
    font-weight:900;
    font-weight:var(--bold-weight);
    text-decoration:none
}
a,body{
    color:#423232;
    color:var(--text-color)
}
body{
    background-color:#fffbf5;
    background-color:var(--bg-color);
    font-family:Nunito,sans-serif;
    font-size:18px;
    font-weight:700;
    font-weight:var(--normal-weight)
}
b{
    font-weight:900;
    font-weight:var(--bold-weight)
}
.btn{
    align-items:center;
    background-color:transparent;
    border:0;
    border-radius:16px;
    color:#423232;
    color:var(--text-color);
    cursor:pointer;
    display:flex;
    height:32px;
    justify-content:center;
    width:32px
}
.btn-active,.btn:hover{
    background-color:#f4ede2;
    background-color:var(--bg-darker-color)
}
.wrapper{
    margin:auto;
    max-width:480px;
    padding:15px
}
.top-bar{
    align-items:center;
    display:flex;
    justify-content:space-between
}
.title{
    flex-grow:1;
    margin-left:32px;
    text-align:center
}
.title h1{
    font-size:24px;
    text-transform:uppercase
}
.info-bar,.title h1{
    font-weight:900;
    font-weight:var(--bold-weight)
}
.info-bar{
    padding:10px 10px 0
}
.label{
    font-size:12px;
    font-weight:700;
    font-weight:var(--normal-weight);
    text-transform:uppercase
}
.word{
    background-color:#fffefe;
    background-color:var(--bg-lighter-color);
    border:1px solid #423232;
    border:1px solid var(--text-color);
    border-radius:5px;
    color:#423232;
    color:var(--text-color);
    font-family:inherit;
    font-size:1.25em;
    margin:10px 0;
    padding:10px 15px;
    width:100%
}
.message{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom:15px;
    margin-top:5px;
    min-height:50px
}
.message-text{
    padding:0 5px
}
.message p{
    margin-bottom:10px
}
.message p:last-of-type{
    margin-bottom:0
}
.guess-history{
    padding-bottom:20px
}
.row-wrapper{
    border:3px solid transparent;
    border:var(--guess-border);
    border-radius:8px;
    margin:0 -3px;
    overflow:hidden;
    position:relative
}
.current{
    border:3px solid #423232;
    border:var(--current-guess-border);
    font-weight:900;
    font-weight:var(--bold-weight)
}
.outer-bar{
    background-color:#f4ede2;
    background-color:var(--bg-darker-color);
    height:100%;
    position:absolute;
    width:100%
}
.inner-bar{
    background-color:#b5e2dc;
    border-radius:5px;
    height:100%;
    min-width:1%
}
.row{
    border-radius:5px;
    font-weight:inherit;
    height:38px;
    justify-content:space-between;
    padding:5px 10px;
    position:relative;
    width:100%
}
.modal-bg,.row{
    align-items:center;
    display:flex
}
.modal-bg{
    background-color:rgba(0,0,0,.1);
    height:100vh;
    justify-content:center;
    left:0;
    position:fixed;
    top:0;
    width:100vw;
    z-index:2000
}
.modal-wrapper{
    display:flex;
    flex-direction:column;
    max-height:calc(100vh - 40px);
    max-width:460px;
    position:relative;
    width:calc(100vw - 40px)
}
.modal{
    background-color:#fffefe;
    background-color:var(--bg-lighter-color);
    border:3px solid #423232;
    border:var(--modal-border);
    border-radius:10px;
    box-shadow:0 1px 1px rgba(0,0,0,.075),0 2px 2px rgba(0,0,0,.075),0 4px 4px rgba(0,0,0,.075),0 8px 8px rgba(0,0,0,.075),0 16px 16px rgba(0,0,0,.075);
    box-shadow:0 1px 1px var(--shadow-color),0 2px 2px var(--shadow-color),0 4px 4px var(--shadow-color),0 8px 8px var(--shadow-color),0 16px 16px var(--shadow-color);
    height:100%;
    overflow-y:auto;
    padding:20px;
    z-index:2001
}
.modal p{
    font-size:16px;
    margin:10px 0
}
.modal-close-button{
    --size:32px;
    align-items:center;
    background-color:#fffefe;
    background-color:var(--bg-lighter-color);
    border:3px solid #423232;
    border:var(--modal-border);
    border-radius:calc(var(--size)/2);
    cursor:pointer;
    display:flex;
    height:var(--size);
    justify-content:center;
    position:absolute;
    right:calc(var(--size)/3*-1);
    top:calc(var(--size)/3*-1);
    width:var(--size);
    z-index:2002
}
.modal-close-button svg{
    height:24px;
    width:24px
}
.modal-title{
    align-items:center;
    display:flex;
    padding-bottom:5px
}
.modal-title h2{
    font-size:20px;
    font-weight:900;
    font-weight:var(--bold-weight);
    line-height:100%;
    margin:0;
    padding-left:10px
}
.end-msg{
    background-color:#f4ede2;
    background-color:var(--bg-darker-color);
    border-radius:5px;
    margin:20px 0;
    padding:20px;
    text-align:center
}
.end-msg p{
    margin:10px 0
}
.continue-msg{
    font-size:16px;
    margin-top:20px;
    padding:0 10px
}
.how-to-play{
    background-color:#f4ede2;
    background-color:var(--bg-darker-color);
    border-radius:5px;
    margin-top:10px;
    padding:15px
}
.how-to-play p{
    font-size:16px;
    margin:10px 0
}
.share-btn{
    align-items:center;
    background-color:#423232;
    background-color:var(--text-color);
    border:none;
    border-radius:5px;
    color:#fffbf5;
    color:var(--bg-color);
    cursor:pointer;
    display:inline-flex;
    font-family:inherit;
    font-size:20px;
    line-height:1;
    margin:10px;
    padding:10px 20px
}
.share-btn svg{
    margin-right:10px
}
.button{
    align-items:center;
    background-color:#423232;
    background-color:var(--accent-bg-color);
    border:none;
    border-radius:5px;
    color:#fff;
    color:var(--accent-text-color);
    cursor:pointer;
    display:inline-flex;
    font-family:inherit;
    font-size:18px;
    justify-content:center;
    line-height:1;
    padding:15px 20px
}
.button:hover{
    background-color: #60b9f4;
}
.button svg{
    margin-right:10px
}
.button-full{
    width:100%
}
.button.subtle{
    background-color:transparent;
    color:#423232;
    color:var(--text-color)
}
.button.subtle:hover{
    background-color:#f4ede2;
    background-color:var(--bg-darker-color)
}
.game-selection-button{
    align-items:center;
    display:flex;
    justify-content:space-between;
    width:100%
}
.shared-msg{
    position:absolute;
    right:-70px;
    top:0
}
.dropdown-bg{
    height:100vh;
    left:0;
    position:fixed;
    top:0;
    width:100vw;
    z-index:1000
}
.dropdown{
    background-color:#fffefe;
    background-color:var(--bg-lighter-color);
    border-radius:10px;
    box-shadow:0 1px 1px rgba(0,0,0,.075),0 2px 2px rgba(0,0,0,.075),0 4px 4px rgba(0,0,0,.075),0 8px 8px rgba(0,0,0,.075),0 16px 16px rgba(0,0,0,.075);
    box-shadow:0 1px 1px var(--shadow-color),0 2px 2px var(--shadow-color),0 4px 4px var(--shadow-color),0 8px 8px var(--shadow-color),0 16px 16px var(--shadow-color);
    max-width:calc(100vw - 40px);
    padding:10px;
    position:absolute;
    right:0;
    z-index:1001
}
.menu-item{
    align-items:center;
    background-color:transparent;
    border:0;
    border-radius:5px;
    color:#423232;
    color:var(--text-color);
    cursor:pointer;
    display:flex;
    font-size:16px;
    padding:10px 15px;
    text-align:left;
    white-space:nowrap;
    width:100%
}
.menu-item:disabled{
    opacity:.5;
    pointer-events:none
}
.menu-item svg{
    margin-right:10px
}
.menu-item:hover{
    background-color:#f4ede2;
    background-color:var(--bg-darker-color)
}
.menu-annotation{
    flex-grow:1;
    font-size:12px;
    line-height:1;
    margin-left:10px;
    text-align:right
}
.loading-text span{
    -webkit-animation:waviy 2s infinite;
    animation:waviy 2s infinite;
    -webkit-animation-delay:calc(.05s*var(--i));
    animation-delay:calc(.05s*var(--i));
    display:inline-block;
    position:relative
}
@-webkit-keyframes waviy{
    0%,15%,to{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    8%{
        -webkit-transform:translateY(-.25em);
        transform:translateY(-.25em)
    }
}
@keyframes waviy{
    0%,15%,to{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    8%{
        -webkit-transform:translateY(-.25em);
        transform:translateY(-.25em)
    }
}
.fixed-bottom{
    bottom:0;
    left:0;
    position:fixed;
    width:100%;
    z-index:3000
}
.previous-games-ad{
    align-items:center;
    background-color:#f4ede2;
    background-color:var(--bg-darker-color);
    display:flex;
    justify-content:center
}
.previous-games-ad-size{
    height:50px;
    width:300px
}
@media (min-width:768px){
    .previous-games-ad-size{
        height:90px;
        width:728px
    }
}
.cookie-dialog{
    align-items:center;
    background-color:#fffefe;
    background-color:var(--bg-lighter-color);
    box-shadow:-5px 1px 1px rgba(0,0,0,.075),0 2px 2px rgba(0,0,0,.075),0 4px 4px rgba(0,0,0,.075),0 8px 8px rgba(0,0,0,.075),0 16px 16px rgba(0,0,0,.075);
    box-shadow:-5px 1px 1px var(--shadow-color),0 2px 2px var(--shadow-color),0 4px 4px var(--shadow-color),0 8px 8px var(--shadow-color),0 16px 16px var(--shadow-color);
    display:flex;
    font-size:14px;
    justify-content:center;
    padding:10px 20px
}
.cookie-dialog-text{
    padding-right:10px
}
.badge{
    display:inline-block;
    position:relative
}
.badge-dot{
    background:#ff4d4f;
    border-radius:100%;
    height:8px;
    min-width:8px;
    position:absolute;
    right:0;
    top:0;
    -webkit-transform:translate(50%,-50%);
    transform:translate(50%,-50%);
    -webkit-transform-origin:100% 0;
    transform-origin:100% 0;
    width:8px
}
.social-media-links{
    padding:5px 0;
    text-align:center
}
.social-media-links svg{
    height:50px;
    width:150px
}
.social-media-links a:not(:last-of-type){
    margin-right:24px
}
.bigger{
    font-size:20px;
    font-weight:900;
    font-weight:var(--bold-weight)
}
.countdown-text{
    font-size:16px;
    margin-top:10px
}
.countdown{
    font-size:30px
}
.chart-wrapper{
    display:flex;
    justify-content:center
}
.chart{
    text-align:left;
    white-space:pre
}
/*# sourceMappingURL=main.b6b9b6e5.css.map*/
